// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-title {
	color: black;	
}

.video-description{
	color: black;
}

h2 {
	color: red;
}

#inventory-page {
	background-color: white;
}