<h1>Search Results:</h1>

<br>
<% @videos.each do |video| %>
  <div class="video">
    <h1 class="video-title"><%= link_to video.title, video %></h1>
    <p class="video-description"><%= video.description %></p>
  </div>
<% end %>
