<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1 id="welcome">Flick.Box!</h1>

  <div class="video">
    <% @videos.each do |video| %>
      <tr>
        <h2 class="video-title"><%= link_to video.title, video %></h2>
        <p class="video-description"><%= video.description %></p>
        <%= video.release_date %>
      </tr>
    <% end %>
  </div>
</body>
</html>
